/* Importação fonte do google */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

/* CSS resert */
body {
    margin: 0;
    border: 0;
    padding: 0;

    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    color: #000000;
}

.titulo{
    text-align: center;
}
.fleBoxApiPrincipal{

    padding: 0px 0px 0px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: solid 2px red;
}
.mapStyle{
    border-radius: 50px;
}
.flexCard{
    display: flex;
    gap: 5px;
    flex-direction: row;
}
.tituloAPI{
    font-weight: 700;
}
.flexBox{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
   
}

.flex {
    display: flex;
    justify-content: space-between;

    margin: 0;
    padding: 0;
    border: 0;
}


.logoMenu img {
    width: 40px;
    margin-top: 8px;
    margin-left: 15px;
}

.tituloMenu{
    margin-right: 15px;
}

footer {

    
    height: 1px;
    background: #ffffff;
    display: flex;
    align-items: center;
    
    font-size: 0.8em;

    border: 0;
margin-bottom: 0;
padding-top: 10px;
}




/* smartphone  Landscape  horizotal  */
@media (min-width: 576px) {

    /* codigo vai ser add de acordo com as regras */
    

    
    

   
   
    

}


